.item {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.label {
    color: #725d42;
    font-size: 13px;
    font-weight: 700;
}

.required {
    margin-left: 2px;
    color: var(--animal-error-color);
}

.control {
    display: block;
}

.extra {
    color: #9f927d;
    font-size: 12px;
    line-height: 1.6;
}

.extra-error {
    color: var(--animal-error-color);
}

.extra-warning {
    color: #dba90e;
}
